node_modules
*.log
dist
*.bak
*.tmp
.DS_Store
.env
coverage
build
.history
/.cache/
docs/
node_modules/
.idea
.vscode/
.env.*
!.env.example
coverage/
.history/
.cache/
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*~
.*.swp
.*.swo
.fuse_hidden*
